<div class="container m-5 p-2 mx-auto">
  <!-- App title section -->
  <div class="row m-1 p-4">
      <div class="col">
          <div class="p-1 h1 text-center mx-auto">
              <u>Mijn To-Do lijst</u>
          </div>
      </div>
  </div>
  <!-- Create todo section -->
  <div class="row m-1 p-3">
      <div class="col col-11 mx-auto">
          <div class="row rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
              <div class="col">
                  <input (input)="onInputChange($event)" value="{{value}}" class="form-control form-control-lg border-0 input bg-transparent rounded" type="text" placeholder="Dit moet ik onthouden.." [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
              </div>
              <div class="col-auto px-0 mx-0 mr-2">
                <button type="button" class="btn btn-primary" (click)="addTodo()">Voeg toe</button>
                <button class="btn btn-dark" (click)="keyboard = !keyboard">{{!keyboard ? 'Verberg toetsenbord' : 'Toon toetsenbord'}}</button>
              </div>
          </div>
      </div>
  </div>
  <div [ngClass]="keyboard ? 'hide-keyboard' : ''" class="keyboard2"></div>
  <div class="p-2 mx-4 border-black-25 border-bottom"></div>

  <!-- Todo list section -->
  <div class="row mx-1 px-5 pb-3 w-80">
      <div class="col mx-auto">
          <div class="list-group list-group-flush">
            <!-- Todo Items -->
            <label class="list-group-item pt-2 h5" *ngFor="let todo of todos">
              <input class="form-check-input me-1 h5" type="checkbox" value="">
              {{ todo.title }}
            </label>
          </div>
      </div>
  </div>
  <!--The content below is only a placeholder and can be replaced.-->
  <!-- <div style="text-align:center" [ngClass]="!show ? 'hide-keyboard' : ''"> -->

  <!-- <button (click)="show = !show">Show / Hide</button>
</div>
<div style="text-align:center">
  <input (input)="onInputChange($event)" class="input" value="{{value}}" placeholder="Tap on the virtual keyboard to start"/>
  <div class="simple-keyboard"></div>
</div>
<button >Show / Hide</button> -->
