<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height ,width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Electron-BoB</title>
</head>
  <body>
  <div class="container-fluid">
    <div class="row">
      <app-goodsidebar></app-goodsidebar>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <!-- page content here -->
          <router-outlet></router-outlet>

        </main>
      </div>
    </div>
  </body>
</html>
