<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav text-center flex-column nav-pills">
      <span class="navbar-brand bg-light h1 text-center"><strong>Futuri</strong></span>
        <li class="nav-item">
          <a class="nav-link h4 mt-5 mx-4" data-toggle="pill" href="agenda" routerLink="/agenda" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Agenda
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 mt-5 mx-4" data-toggle="pill" href="todolijst" routerLink="/todolijst" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            To-Do Lijst
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 mt-5 mx-4" data-toggle="pill" href="boodschappen" routerLink="/boodschappen" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Boodschappen
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled h4 mt-5 mx-4" data-toggle="pill" href="verveling" routerLink="/verveling" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Verveling
          </a>
        </li>
      </ul>
    </div>
  </nav>

